@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* #region Grid designs */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
    margin: 0 1px 0 0;
    padding: 20px 20px 20px 100px;
    height: calc(100vh - 60px);
    grid-template-rows: 50px 120px 380px;
    overflow-y: auto;
}

/* #region Grid Layout*/
.title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.revenue{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}
.inventory-value{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}
.inventory-turnover-rate{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 10;
}
.orders-in-transit{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 10;
    grid-column-end: 13;
}

.ex1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

.ex2{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 13;
}



/* #endregion */

/* #endregion */

/* #endregion */

/* #region 3 top row */
.top-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-row > .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* #region SVG */
.top-row > .top .svg-container{
    background-color:  #02242e;
    height: 53px;
    width: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); 
    margin-right: 5px;
    margin-top: 5px;

}

.top-row > .top .svg-container svg{
    height: 22px;
    width: 22px;
    fill: #f0f0f0;
}
/* #endregion */

/* #region Text */
.top-row > .top .text{
    margin-left: 10px;
    margin-top: 5px;
}

.top-row > .top .text .name{
    font-size: 1.17rem;
    line-height: 1.17rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.747);
    white-space: nowrap;
    margin-bottom: 8px;
}

.top-row > .top .text .value{
    letter-spacing: .5px;
    font-size: 1.70rem;
    line-height: 1.70rem;
    font-weight: 600;
    font-family: "Baloo Paaji 2", sans-serif;
}

.top-row > .top .text .value span{
    font-family: "Quicksand", sans-serif;
    margin-right: 1px;
}
/* #endregion */

/* #region Data Analytics */
.top-row > .dashboard-analytics{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.1rem;
    color: #7a7a7a;
    font-weight: 400;
    position: relative;
}

.top-row > .dashboard-analytics::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 5%;
    width: 93%;
    height: 1px; /* Simulates a thin border */
    background: linear-gradient(to right, transparent, rgb(185, 185, 185), transparent);
    pointer-events: none; 
}

.top-row > .dashboard-analytics span:first-child{
    margin-left: 10px;
    margin-right: 3px;
    color: rgb(19, 168, 19);
    font-weight: 600;
    font-size: 1rem;
    font-family: "Baloo Paaji 2", sans-serif;
    margin-bottom: -4px;
    letter-spacing: .3px;
}
/* #endregion */

/* #endregion */

/* #region Stock Levels */
.dashboard-item .frame .text{
    font-size: 1.06rem;
    color: rgba(39, 39, 39, 0.747);
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.dashboard-item .frame .text .needs-restocking{
    font-family: "Baloo Paaji 2", sans-serif;
    font-size: .88rem;
    margin: 0 4px;
}

.ex1 > .frame .container,
.ex2 > .frame .container{
    height: 285px;
    width: 100%;
}c

#canvas{
    color: #376b15;
    margin-top: 10px;
}

.highest-selling-item{
    margin: 0 4px;
}
/* #endregion */

