@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Afacad Flux", serif;
    background: linear-gradient(to right, #e6e6e6, #d7e1ff);
    overflow: auto;
}

/* #region Grid Layout*/

    /* Sales Orders */
.oi1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

    /* Order Items */
.oi2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

    /* Supply-chain Orders */
.oi3{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 9;
}

    /* Reorder Requests */
.oi4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

    /* Inventory Movements */
.oi5{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 9;
    grid-column-end: 13;
}

    /* User Activities */
.oi6{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 13;
}

    /* Products */
.oi7{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

    /* Customers */
.oi8{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}

    /* Users */
.oi9{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 7;
}

/* History */
.oi10{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

/* #endregion */


.options-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
    height: 130vh;
    grid-template-rows: 80px 80px 80px 80px 80px;
    padding: 65px 70px;
    position: relative;
}

/* #region Grid item styles */
.option-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-family: 'Afacad Flux', sans-serif;
    transition: transform 0.2s, box-shadow 0.2s; 
    border: 1px solid rgba(90, 90, 90, 0.253);
    border-radius: 8px;
}

.option-item:hover {
    transform: scale(1.08); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.option-item .item-name{
    letter-spacing: .8px;
    font-size: 1.18rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}

/* #endregion */

/* #region Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: auto;
}

.table-container {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 1100px;
    max-height: 500px;
    overflow: hidden;
    margin-top: 60px;
    margin-left: 130px;
}

.top-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-name-container{
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 10px;
}

#table-content{
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 400px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0px;
    z-index: 11;
}

#close-overlay {
    margin-bottom: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

/* #region buttons */
/* Style for the button container */
.button-container {
    display: flex;
    gap: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 460px;
}

/* Style for the Run the Script button */ 
/* Style for the Clear Tables button */
.reset-tables {
    background-color: rgb(5, 194, 5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reset-quantity{
    background-color: rgb(13, 155, 112);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.generate-data{
    background-color: rgb(196, 11, 11);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reset-tables:hover,
.run-the-stuff:hover,
.reset-quantity:hover,
.generate-data:hover {
    transform: scale(1.05);
}
/* #endregion */

/* #region re-sort button*/
.left-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sort-container{
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 27px;
    border-radius: 5px;
    margin-left: 10px;
}

.sort-container:hover{
    background-color: darkgreen;
    cursor: pointer;
}
/* #endregion */

/* #region Search Button*/
.search-bar { 
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 270px;
} 

.search-bar input { 
    flex: 1; 
    padding: 5px 10px; 
    border: none; 
    outline: none; 
    font-size: .8rem; 
} 

.search-bar button { 
    background-color: #007bff; 
    border: none; 
    color: white; 
    padding: 5px 10px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: .8rem;
    font-weight: 700; 
    transition: background-color 0.3s ease; 
} 

.search-bar button:hover { 
    background-color: #0056b3; 
} 

.search-bar button i { 
    margin-right: 5px; 

}
/* #endregion */

/* #endregion */

