@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Afacad Flux", serif;
    background: black;
    color: rgb(5, 139, 5);
    display: flex;
    padding: 70px 120px;
    flex-direction: column;
    overflow: auto;
    font-size: 1.2rem;
}